@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
